exportPattern("^[[:alpha:]]+")
export(runTspGui)
import(shiny)
import(shinyjs)
import(shinyBS)
import(shinythemes)
import(shinyWidgets)
import(plotly)
import(checkmate)
import(netgen)
import(tspgen)
import(salesperson)
